# **Import SQLite package**

In [1]:
import sqlite3

In [2]:
new_connection = sqlite3.connect("data_testing.db")

In [3]:
type(new_connection)

sqlite3.Connection

In [4]:
print(type(new_connection))

<class 'sqlite3.Connection'>

In [5]:
new_cursor = new_connection.cursor()
print(type(new_cursor))

<class 'sqlite3.Cursor'>

In [8]:
new_sql = "SELECT datetime('now', 'localtime');"

In [9]:
new_cursor.execute(new_sql)

In [10]:
new_cursor.fetchone()

('2024-11-05 16:20:13',)

In [11]:
new_dtime = new_cursor.execute(new_sql).fetchone()[0]

In [12]:
print(new_dtime)

2024-11-05 16:22:57

In [13]:
new_connection.close()

In [14]:
with sqlite3.connect("data_testing.db")as new_connection:
  new_cursor = new_connection.cursor()
  new_sql = "SELECT datetime('now', 'localtime');"
  new_dtime = new_cursor.execute(new_sql).fetchone()[0]

In [15]:
print(new_dtime)

2024-11-05 16:30:07

In [16]:
new_connection.close()

# **Create table**

In [17]:
import sqlite3

# Connect to SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect("example.db")
cursor = conn.cursor()

# Create a table
cursor.execute('''CREATE TABLE IF NOT EXISTS employees (
                    id INTEGER PRIMARY KEY,
                    name TEXT NOT NULL,
                    age INTEGER,
                    department TEXT)''')

# Insert data into the table
cursor.execute("INSERT INTO employees (name, age, department) VALUES ('Alice', 30, 'HR')")
cursor.execute("INSERT INTO employees (name, age, department) VALUES ('Bob', 25, 'Engineering')")
cursor.execute("INSERT INTO employees (name, age, department) VALUES ('Charlie', 35, 'Marketing')")

# Commit the changes
conn.commit()

# Fetch and display the data
cursor.execute("SELECT * FROM employees")
rows = cursor.fetchall()

for row in rows:
    print(row)

# Close the connection
conn.close()

(1, 'Alice', 30, 'HR')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 35, 'Marketing')

In [18]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect("example.db")
cursor = conn.cursor()

# Drop the table if it exists
cursor.execute("DROP TABLE IF EXISTS employees")

# Commit the changes
conn.commit()

# Close the connection
conn.close()

In [19]:
import sqlite3

# Connect to SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect("example.db")
cursor = conn.cursor()

# Step 1: Create a table
cursor.execute('''CREATE TABLE IF NOT EXISTS data_testing (
                    id INTEGER PRIMARY KEY,
                    name TEXT NOT NULL,
                    age INTEGER,
                    city TEXT)''')
print("Table 'data_testing' created.")

Table 'data_testing' created.

In [20]:
# Step 2: Insert data into the table
cursor.execute("INSERT INTO data_testing (name, age, city) VALUES ('Alice', 30, 'New York')")
cursor.execute("INSERT INTO data_testing (name, age, city) VALUES ('Bob', 25, 'Los Angeles')")
cursor.execute("INSERT INTO data_testing (name, age, city) VALUES ('Charlie', 35, 'Chicago')")
conn.commit()
print("Data inserted into 'data_testing'.")

Data inserted into 'data_testing'.

In [21]:
# Step 3: Fetch all data
print("\nFetching all data:")
cursor.execute("SELECT * FROM data_testing")
rows = cursor.fetchall()
for row in rows:
    print(row)

Fetching all data:
(1, 'Alice', 30, 'New York')
(2, 'Bob', 25, 'Los Angeles')
(3, 'Charlie', 35, 'Chicago')

In [22]:
# Step 4: Use WHERE clause to fetch specific data
print("\nFetching data for people aged 30 and above:")
cursor.execute("SELECT * FROM data_testing WHERE age >= 30")
rows = cursor.fetchall()
for row in rows:
    print(row)

Fetching data for people aged 30 and above:
(1, 'Alice', 30, 'New York')
(3, 'Charlie', 35, 'Chicago')

In [23]:
# Step 5: Update data
print("\nUpdating city for Bob to 'San Francisco':")
cursor.execute("UPDATE data_testing SET city = 'San Francisco' WHERE name = 'Bob'")
conn.commit()

# Verify update
cursor.execute("SELECT * FROM data_testing WHERE name = 'Bob'")
rows = cursor.fetchall()
for row in rows:
    print(row)

Updating city for Bob to 'San Francisco':
(2, 'Bob', 25, 'San Francisco')

In [24]:
# Step 6: Use ORDER BY clause
print("\nFetching data ordered by age descending:")
cursor.execute("SELECT * FROM data_testing ORDER BY age DESC")
rows = cursor.fetchall()
for row in rows:
    print(row)

Fetching data ordered by age descending:
(3, 'Charlie', 35, 'Chicago')
(1, 'Alice', 30, 'New York')
(2, 'Bob', 25, 'San Francisco')

In [25]:
# Step 7: Delete a specific record
print("\nDeleting record for Charlie:")
cursor.execute("DELETE FROM data_testing WHERE name = 'Charlie'")
conn.commit()

# Verify deletion
cursor.execute("SELECT * FROM data_testing")
rows = cursor.fetchall()
for row in rows:
    print(row)

Deleting record for Charlie:
(1, 'Alice', 30, 'New York')
(2, 'Bob', 25, 'San Francisco')

In [26]:
# Step 8: Drop the table
print("\nDropping the table 'data_testing':")
cursor.execute("DROP TABLE IF EXISTS data_testing")
conn.commit()

Dropping the table 'data_testing':

In [27]:
# Close the connection
conn.close()
print("Table 'data_testing' dropped and connection closed.")

Table 'data_testing' dropped and connection closed.